{%extends 'base.html'%}

{%block content%}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% comment %} 'expensecategory' refers to category in your VIEWS >> _list is default from django unless specified with context_obj name {% endcomment %}
            {%for cate in expensecategory_list%} 
            <tr>
                {% comment %} use var 'cat' and refer to property >> 'name' in MODELS {% endcomment %}
                <td> {{ cate.name }} </td>
                {% comment %} use var related_name from FK 'receipts' >> .all is built in method  {% endcomment %}
                <td> {{ cate.receipts.all|length}}</td>
            </tr>

            {%endfor%}
        </tbody>

    </table>
    <body>
        <a href="{%url 'expense_create'%}"> <button>Create New Expense</button></a>
    </body>
</main>
{%endblock content%}