{%extends 'base.html'%}

<body>
    {%block content%} 
     <table>
         <thead>
             <tr>
                 <th>Name</th>
                 <th>Number</th>
                 <th>Number of Receipts</th>
             </tr>
         </thead>
         <tbody>
             {%for y in account_list%}
             <tr>
                 <td> {{y.name}} </td>
                 <td> {{y.number}}</td>
                 <td> {{y.receipts.all|length}}</td>
            </tr>
            {%endfor%}
         </tbody>
     </table>
     <main>
         <a href="{%url 'accounts_create'%}"><button>Create New Account</button></a>
     </main>
    {%endblock content%}
</body>