{%extends 'base.html'%}
{% comment %} <!doctype html>
<html lang="en">

<head>
    <title>
        Logout
    </title>
</head> {% endcomment %}

<body>
    {%block content%}
    Youre now logged out. 
    {%endblock content%}
</body>

</html>