{%extends 'base.html'%}
<!doctype html>
<html lang="en">

<head>
    <title>
        Login
    </title>
</head>

<body>
    {%block content%}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Login</button>
      </form>

{%endblock content%}
</body>

</html>