{%extends "base.html"%}
{% comment %} <!doctype html>
<html lang="en">

<head>
    <title>
        Register
    </title>
</head> {% endcomment %}
{%block content%}
    <h1>Manage All Your Expenses Here!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Sign Up</button>
    </form>
{%endblock content%}


