{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Expenses
    </title>
</head>

<body>

    <header> 
        <nav>
            {%if user.is_authenticated %}
            <a href="{%url 'home'%}">Home</a>
            <a href="{% url 'accounts_view'%}">Accounts</a>
            <a href="{% url 'expense_list'%}">Expenses</a>

            <a href="{% url 'logout'%}">Logout</a>
            {%else %}
            <a href="{%url 'signup'%}">Sign Up</a>
            <a href="{%url 'login'%}">Login</a>
            {%endif%}
        </nav>
    </header>
<main>
    {% block content%}
    {% endblock content%}
</main>

</body>

</html>