{%extends 'base.html'%}
{% comment %} <!doctype html>
<html lang="en">

<head>
    <title>
        Expenses
    </title>
</head> {% endcomment %}

<body>
    {%block content%} 
    <h1>Home</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {%for i in receipt_list%}
            <tr>  
                <td> {{i.vendor}} </td>
                <td>{{i.total}}</td>
                <td>{{i.tax}}</td>
                <td>{{i.date}}</td>
                <td>{{i.category}}</td>
                {%if i.account == None%}
                <td>Cash</td>
                {%else%}
                <td>{{i.account}}</td>
                {%endif%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <main>
        <a href="{%url 'receipt_create'%}"><button>Add New Receipt</button></a>
    </main>
    {%endblock content%}
</body>

{% comment %} </html> {% endcomment %}